<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.web.admin.AdminDAO">

	<select id="adminLogin" parameterType="Map" resultType="Map"> 
		SELECT m_no, m_id, m_name, m_nickname, m_birth, m_status, count(*) as 'count' from members WHERE
		m_id=#{id} AND m_pw=#{pw}
	</select>



	<select id="list" resultType="Movielist">

		SELECT
		mi.mv_poster,mi.mv_code,mi.mv_name,mi.mv_sdate,mi.mv_maker,ma.au_status,ma.au_acccnt
		FROM movie_info mi
		INNER JOIN movie_audience ma
		ON mi.mv_code = ma.mv_code
		ORDER BY mi.mv_sdate DESC


	</select>


	<select id="memberList" resultType="Map">
		Select m_no, m_id, m_name,
		m_nickname, m_email, m_join_dt, m_status, m_type
		FROM members
		ORDER BY m_status ASC
	</select>
	
	
<select id="memberSearch" resultType="Map">
  Select m_no, m_id, m_name,
  m_nickname, m_email, m_join_dt, m_status, m_type
  FROM members
  WHERE 
  <choose>
    <when test="search == 'nameSearch'">
      m_name LIKE CONCAT(#{searchV}, '%')
    </when>
    <when test="search == 'idSearch'">
      m_id LIKE CONCAT('%', #{searchV}, '%')
    </when>
  </choose>
  ORDER BY m_status ASC
</select>


	<update id="gradeChange" parameterType="Map">
		UPDATE members SET
		m_status=#{grade} WHERE m_no=#{mno}
	</update>


	<select id="userpage" parameterType="Integer" resultType="Map">
		SELECT m_no, m_name, m_nickname, m_id, m_birth, m_email, m_point, m_status, m_type
		FROM members
		WHERE m_no = #{mno}
	</select>
	
	
	
	<update id="nicknameChange" parameterType="Map">
		UPDATE members SET
		m_nickname='제재된닉네임' WHERE m_no=#{id} AND m_nickname=#{before}
	</update>
	
		<update id="pointChange" parameterType="Map">
		UPDATE members SET
		m_point=#{point} WHERE m_no=#{mno}
	</update>
	
	<select id="totalMember" resultType="String">
		SELECT COUNT(m_no) as total
FROM members
	</select>
	
	
		<select id="totalIncome" resultType="String">
		SELECT SUM(rp_pay) as totalincom
FROM reservation_payment
	</select>
	

</mapper>