<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.web.pay.PayDAO">





   <select id="couponList" resultType="Map">
   SELECT m_no, rs_coupon, rs_admission, rs_cindex, rs_aindex, rs_discount FROM reservation_coupon WHERE m_no="1"
   </select>

   <select id="couponChk" parameterType="String" resultType="Integer">
   SELECT COUNT(*) FROM reservation_coupon
   WHERE rs_coupon = #{cCode} AND m_no IS NULL
   </select>


   <update id="couponUpdate" parameterType="Map">
   UPDATE reservation_coupon SET
      m_no="1" WHERE rs_coupon = #{cCode}
   </update>

   <select id="couDiscount" parameterType="String" resultType="Integer">
   SELECT rs_discount FROM reservation_coupon
   WHERE rs_coupon = #{selectCoupon}
   </select>
   
     <select id="admChk" parameterType="String" resultType="Integer">
   SELECT COUNT(*) FROM reservation_coupon
   WHERE rs_admission = #{aCode} AND m_no IS NULL
   </select>


   <update id="admUpdate" parameterType="Map">
   UPDATE reservation_coupon SET
      m_no="1" WHERE rs_admission = #{aCode}
   </update>
   
   <update id="couDelete" parameterType="List">
    UPDATE reservation_coupon SET m_no = NULL WHERE rs_coupon IN
     <foreach item="item" collection="list" open="(" separator="," close=")">
     #{item}
  </foreach>
  </update>
  
  
   <update id="admDelete" parameterType="List">
    UPDATE reservation_coupon SET m_no = NULL WHERE rs_admission IN
     <foreach item="item" collection="list" open="(" separator="," close=")">
     #{item}
  </foreach>
  </update>
   
   
   <select id="havePoint" resultType="Map">
   SELECT m_point FROM members WHERE m_no="1"
   </select>

      <update id="updatePoint" parameterType="Integer">
      UPDATE members SET
      m_point=#{newPoint} WHERE m_no="1"
   </update>

   <select id="charge" parameterType="String" resultType="Map">
   SELECT * FROM reservation_card
   WHERE rs_cname = #{cardSelect}
   </select>

<select id="cardChk" resultType="Integer">
   SELECT COUNT(*) FROM reservation_card
   WHERE m_no = "1"
   </select>
   
      <select id="cardList" resultType="Map">
   SELECT rs_cname, rs_cnum FROM reservation_card
   WHERE m_no = "1"
   </select>
   
   <update id="cardUpdate" parameterType="String">
   UPDATE reservation_card SET
      m_no="1" WHERE rs_cnum = #{cardNum}
   </update>
   
   <select id="ticketInfo" parameterType="Map" resultType="Map">
   SELECT ms.mv_idx, ms.th_idx, ms.ms_sdate,
TIME_FORMAT(ms.ms_stime, '%H:%i') as ms_stime,
		TIME_FORMAT(ms.ms_etime, '%H:%i') as ms_etime,
		 mi.mv_name, ti.th_city, ti.th_kind
FROM movie_schedule AS ms
INNER JOIN movie_info AS mi ON ms.mv_idx = mi.mv_idx
INNER JOIN theater_info AS ti ON ms.th_idx = ti.th_idx
WHERE ms.ms_idx =#{ms_idx}
   </select>
   
   <insert id="rsData" parameterType="Map">
		INSERT INTO reservation_info (mv_idx, ms_idx, m_no, rs_id, rs_count, rs_status, rs_date)
		VALUES((SELECT mv_idx FROM movie_info WHERE mv_name=#{mvName}), #{msIdx}, #{mno}, #{randomNum}, #{peopleNum}, "1", NOW())	 
	</insert>
	
	   <select id="email" parameterType="Integer" resultType="Map">
   SELECT m_name, m_email FROM members WHERE m_no=#{mno}
   </select>
   
     <update id="updateSeat" parameterType="Map">
      UPDATE screen_seat SET
      ss_res="A" WHERE ms_idx=#{msIdx} AND ss_seat=#{seat}
   </update>
   


</mapper>