@charset "UTF-8";

/* * {
	box-sizing: border-box; 전체에 박스사이징
	outline: none; focus 했을때 테두리 나오게
}
 */
body {
	font-size: 14px;
	background-color: #f5f6f7;
	line-height: 1.5em;
	color: #222;
	margin: 20px;
	padding-bottom: 10px;
}

.login_box {
	position: relative;
	top: 150px;
	width: 500px;
	border: 1px solid #C6C6C6;
	border-radius: 5px;
	margin: auto; /*중앙 정렬*/
	padding: 0 20px;
	margin-bottom: 20px;
}

.login_box .logo {
	/*로고는 이미지라 인라인 블록이니까 마진 오토 안됨 블록요소만 됨 */
	display: block;
	margin: 50px auto;
}

.login_box .field {
	margin: 5px 0; /*상하로 좀 띄워주기*/
}

.member b {
	/* border: 1px solid #000; */
	display: block; /*수직 정렬하기 */
	margin-bottom: 5px;
}

.input_aera {
	margin-bottom: 10px;
}

/*input 중 radio 는 width 가 100%면 안되니까 */
.member input:not(input[type=radio]), .member select {
	border: 1px solid #dadada;
	padding: 15px;
	width: 100%;
	margin-bottom: 5px;
}

.member input[type=button], .member input[type=submit] {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #FFE486;
	font-size: 16px;
	color: gray;
	cursor: pointer;
}

.member input:focus, .member select:focus {
	border: 1px solid #fb8c00;
}

.field.birth div { /*field 이면서 birth*/
	display: flex;
	gap: 10px; /*간격 벌려줄때 공식처럼 사용핟나 */
}

.login_btn {
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 300px;
}



#bir_yy, #bir_mm, #bir_dd {
	width: 160px;
	display: table-cell
}

